html(lang='fr')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
    title Game
  body
    .container-fluid
      .col-md-3
      .col-md-8
        div(id='')
          center
            p
              | Cliquez sur les images Pour gagner des donuts ou acheter des générateurs (yellow donut) de donut
            img#donut.img-responsive(src='img/donut1.png')
          center
            p
              | Nombre de donut: 
              span#nbredonut
            img#generateur.img-responsive(src='img/yellowdun.png')
          center
            p
              | Nombre de generateur: 
              span#nbregenerateur
            p
              | Nombre de donut au chocolat requis 
              span#nbregenerateurreq
        script(src='js/jquery.min.js')
        script(src='js/trip.js')
        script(src='js/bootstrap/bootstrap.min.js')
