doctype html
html
  head
    title Donuts Clicker
    link(rel="shortcut icon" href="img/favicon.ico")
    link(href="http://fonts.googleapis.com/css?family=Kavoon&subset=latin,latin-ext" rel="stylesheet" type="text/css")
    link(href="style.css?v=1.5028" rel="stylesheet" type="text/css")
    script(src="base64.js")
    script(src="ajax.js")
    script(src="dungeons.js?v=1.5026")
    script(src="main.js?v=1.5031")
    script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29324474-2']);
      _gaq.push(['_setDomainName', 'dashnet.org']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    #topBar
      div
        #links(style="display:block;position:absolute;right:8px;top:4px;")
    #game
      #javascriptError
        div(style="padding:64px 128px;")
          .title Oops, looks like the game isn't loading right!
          div
            | Please make sure your javascript is enabled, then refresh.
            br
            | 			This could also be caused by a problem on our side, in which case - wait a moment, then refresh!
      #backgroundLayers
        #backgroundLayer1
        #backgroundLayer2
      #goldenCookie.goldenCookie
      #alert
      #particles
      #versionNumber.title
      #sectionLeft.inset
        #cookieShower
        .blackGradient
        .blackFiller
        #sectionLeftInfo
        #cookies.title
        #cookieAnchor
          #cookieShine
          #cookieCursors
          #bigCookie
          #cookieNumbers
        #milk
          #milkLayer1.milkLayer
          #milkLayer2.milkLayer
      .separatorLeft
      .separatorRight
      #sectionMiddle.inset
        #comments.inset.title
          #prefsButton.button Menu
          #statsButton.button Stats
          #logButton.button(style="font-size:80%;") Updates
          #commentsText
          .separatorBottom
        #rows
        #menu
      #sectionRight.inset
        #store
          #storeTitle.inset.title Store
          #upgrades
          #products
      #tooltipAnchor
        #tooltip(onmouseout="Game.tooltip.hide();")
